build
build-dev
node_modules
.tags*
.idea
*.log
.DS_Store
src/server/db/bancor_tickers.json
src/server/db/bigone_tickers.json
src/server/db/bitfinex_tickers.json
src/server/db/blocksence_tickers.json
src/server/db/chaince_tickers.json
src/server/db/cmc.json
src/server/db/eosmarketcap.json
src/server/db/newdex_tickers.json
src/server/db/tokens_supply.json
src/server/db/tokens.json